.btn-main:hover {
  transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: scale(1.05);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.pricing-item:hover {
  transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: scale(1.05);
}

.service-block:hover {
  transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: scale(1.05);
}

.service-item:hover {
  transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: scale(1.05);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.accordion-button {
  background-color: #f9f9f9;
  color: #212519;
}

.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.accordion-button:not(.collapsed) {
  font-weight: bold;
  color: white;
  background-color: #f82b55;
  box-shadow: none;
}

.accordion-button:hover {
  border-color: #f82b55;
  background-color: #f82b55;
  color: white;
  box-shadow: none;
}

.accordion-button:focus {
  border-color: #f82b55;
  background-color: #f82b55;
  color: white;
  box-shadow: none;
}

div .post-item {
  padding: 1rem;
}

div .post-item:hover {
  transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: scale(1.05);
}

/* Glitch Effect */
.glitch {
  font-size: 48px;
  font-weight: 700;
  position: relative;

  text-shadow: 0.05em 0 0 #f82b55, -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 #42f4ee;

  animation: glitch 500ms infinite;
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch span:first-child {
  animation: glitch 650ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-0.025em, -0.0125em);
  /* color: green; */
  opacity: 0.8;
}

.glitch span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
  transform: translate(0.0125em, 0.025em);
  /* color: red; */
  opacity: 0.8;
}

/* https://web.dev/prefers-reduced-motion/#(bonus)-forcing-reduced-motion-on-all-websites */

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 #f82b55, -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 #42f4ee;
  }
  14% {
    text-shadow: 0.05em 0 0 #f82b55, -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 #42f4ee;
  }
  15% {
    text-shadow: -0.05em -0.025em 0 #f82b55,
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75), -0.05em -0.05em 0 #42f4ee;
  }
  49% {
    text-shadow: -0.05em -0.025em 0 #f82b55,
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75), -0.05em -0.05em 0 #42f4ee;
  }
  50% {
    text-shadow: 0.025em 0.05em 0 #f82b55, 0.05em 0 0 rgba(0, 255, 0, 0.75),
      0 -0.05em 0 #42f4ee;
  }
  99% {
    text-shadow: 0.025em 0.05em 0 #f82b55, 0.05em 0 0 rgba(0, 255, 0, 0.75),
      0 -0.05em 0 #42f4ee;
  }
  100% {
    text-shadow: -0.025em 0 0 #f82b55, -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em -0.05em 0 #42f4ee;
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
